body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  display: flex;
}

.principalLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerdaLogin img {
  width: 50vw;
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
  border-radius: 15px;
}

.direitaLogin {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logopequena {
  width: 315px;
}

.campos {
  padding: 0px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.campos form {
  display: flex;
  flex-direction: column;
}

.campoOutros {
  display: flex;
  flex-direction: column;
}

.campos h1 {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: left;
}

.entrar {
  background-color: #e0e0e0;
  color: white;
  border: 0;
  width: 20vw;
  height: 5vh;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrar.preenchido {
  background-color: #00c247;
}

.botaoInicio {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBox {
  position: relative;
  margin-bottom: 1rem;
}

.textBox input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 3%;
}

.textBox label {
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 0.5rem;
}

input#email {
  font-family: 'Nunito';
}

input#senha {
  font-family: 'Nunito';
}

.lembrarText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.esqueceuSenha {
  margin-left: auto;
}

.textAbaixo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
}

.cadastrar {
  background-color: #00c247;
  color: white;
  border: 0;
  width: 20vw;
  height: 5vh;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  .direitaLogin {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .principalLogin {
    flex-direction: column;
    background-color: whitesmoke;
  }
  .esquerdaLogin {
    display: none;
  }

  .direitaLogin {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}
